# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for data science
* List libraries for data science
* Table open source data science tools
* Evaluate arithmetic expressions in python

Some of the popular languages that Data Scientists use are:

1. Python
1. SQL
1. R
1. Bash
1. Scala
1. JavaScript/Typescript
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. Seaborn
6. Tensorflow
7. Keras

| Data Science Tools | 
| --- | 
| JupyterLab | 
| VS Code | 
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 /60

3.3333333333333335

## Author
Winston Cheong